<div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1>Client Detail</h1>
      </div>
    </div>
    <div class="row">
      <div class="col" *ngIf="client.id">
        <div class="card bg-info text-white">
          <div class="card-header">
            <div class="row">
              <div class="col-8">{{client.name}}</div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-title">{{client.medical_agreement}}</p>
            <p class="card-title">{{client.cpf}}</p>
            <p class="card-title">{{client.address}}</p>
          </div>
        </div>
      </div>
    </div>
    <a [routerLink]="['/clients']">back</a>
  </div>