<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>Exams</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-4" *ngFor="let exam of exams" style="margin-bottom: 20px;">
        <div class="card bg-info text-white">
          <div class="card-header">
              <div class="row">
                <div class="col-8">{{exam.exam_type.name}}</div>
                <div class="col-1"></div>
                <div class="col-3 float-right">
                  <a class="text-white" [routerLink]="['/exams', exam.id]">open</a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="card-title">{{exam.client.name}}</h6>
              <p class="card-text">R$ {{exam.price}}</p>
            </div>
        </div>
    </div>
  </div>
</div>